@import '../../palette';


.projects-section{
    height: auto;
    padding: 100px 5%;
    width: 100%;
    background-color: $color3;
}

.projects-section .row{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projects-section .row .project{
    margin: 1.5em 1em;
    height: 300px;
    width: 250px;
    border-radius: 5%;
    background-color: $color1;
}