.footer-bar{
    padding: 1em 2em;
}

.footer-bar img{
    height: 3em;
    width: 3em;
}

.feet-bar{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: nowrap;
    padding: 1em .5em;
    justify-content: center;
}

.footer-bar ul{
    padding-left: 2em;
    text-align: center;
}

.footer-bar a{
    color: black;
    text-decoration: none;
}

.copyright{
    display:flex;
    flex-direction: row;
    justify-content: center;
}