/* Coolors Exported Palette - coolors.co/291f29-ecb652-fcfcf3-ffffff-ffffff */

/* HSL */
$color1: hsla(300%, 14%, 14%, 1);
$color2: hsla(39%, 80%, 62%, 1);
$color3: hsla(60%, 60%, 97%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(41, 31, 41, 1);
$color2: rgba(236, 182, 82, 1);
$color3: rgba(252, 252, 243, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(255, 255, 255, 1);